<!DOCTYPE html>
<html>
<head> 
    
  <style>
    .card {
      width:30%;
      margin: 0 auto;

    }
  </style>
<title>Admin Login</title>
  {%include 'head.html' %}
</head>
<body>
  <form method="POST">
    <br/>
  <div class= "container center-card">
    <div class="card">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required style="float: right;">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required style="float: right;" autocomplete>
    </div>
    <button type="submit" class="btn btn-outline-primary">Log In</button>

  </form>
      </div>
      </div>
  <p class='text-center'> Not an admin ? Go to <a href="{{ url_for('login') }}">User Login</a> instead</p>
  {% for mesg in get_flashed_messages() %}
  <p class= "text-center text-danger">{{ mesg }}</p>
  {% endfor %}

</body>
</body>
</html>